# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset & uploads
dataset/
uploads/

# Model files
model/
*.keras
*.h5

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Your nested structure
ai_outfit_stylist/dataset/
ai_outfit_stylist/model/
ai_outfit_stylist/__pycache__/